# datas io with SQL database in pandas as dataframes

##### > reading & writing SQL database tables in pandas as dtaframes

In [10]:
# pandas cal read & write to diff SQL adtabase engines using both drivers & python's sqlalchamy library for SQL DB

### behind scenes -
# connecting pandas with specific SQL engine - MySQL, Postgre etc ---> we'll use python's built SQLite engine

# install approprite python driver for SQL engingine - eg: psycopg2, pymysql etc

# use sqlalchamy lib to connect SQL engine with its driver  --> connects python with SQL engine, so python can communicate with SQL db
         #-----> refer docs on sqlalchemey for more
# using sqlalchemy driver connection with SQL engine ---> we can pandas read sql mettod to work with SQL DB

# Nb-pandas can ead entire tables in SQL as datafrmes, OR --> we can pass & parse SQL qury commnad & only get subset of what columns we want in tables as dataframes

### REfer --> online docs on SPecif SQL engines + pandas for moe --> SQLalchemy + dialects docs

In [13]:
# we ll use SQLite --> comes built in with python -- we can tempory SQLdatabase in ram 

import numpy as np
import pandas as pd

In [11]:
# install sqlalchemy lib

from sqlalchemy import create_engine

In [32]:
temp_db = create_engine('sqlite:///:memory:')  # ---> **connect engine in sqlachemy & creates a temp sqlite db on ram with no datas

#NB --> we ll have pass in this connetion everytime in pandas method to read & write as pandas dataframe from sql database table

In [14]:
df = pd.DataFrame(data= np.random.randint(low=0, high=40, size=(4,4)), columns=['a','b','c','d']) # --> create random dataframe table using numpy & pandas

In [15]:
df

    a   b   c   d
0   6  28  11  14
1  37  31  20   7
2  14  25  20  10
3  38  10  26   9

In [18]:
#Adding/writing/creating  new data tables with dats to sqlite db with pandas


df.to_sql(name='new_table', con=temp_db) #----> crete new tabular data call new_table from pandas dataframe df table

4

In [22]:
#df.to_sql(name='new_table', con=temp_db) #-->** gives Value error since table call new_table already exist & it can be dangerous to overwrite entire table 

#--> by deafult *if_exist option is set to *False, other option are *replace & *append --> shift + tab on .to_sql() for more info

In [26]:
# read from Sql db --> read entire table at once or grab parts of it using SQl qurery in pandas

new_df = pd.read_sql(sql='new_table', con=temp_db)  #---> reads entire sql table

In [27]:
new_df  # ---> returns entire sql table data coulmn

   index   a   b   c   d
0      0   6  28  11  14
1      1  37  31  20   7
2      2  14  25  20  10
3      3  38  10  26   9

In [29]:
# SQL query ---> reading only what we from SQl table

res_ddf = pd.read_sql_query(sql='SELECT a,d FROM new_table', con=temp_db)  #---> making sql query to grab only column a & d from sql table in pandas

In [30]:
res_ddf  # ---> pandas df with a & d column data from sql table

    a   d
0   6  14
1  37   7
2  14  10
3  38   9

In [33]:
# NB --> sometimes it is easier libraries for SQL directly instead of using it with pandas which depends on what we want to do, eg- PgAdmin for postgresdb

#--> thats it for SQL tables data io with pandas dataframe :)